{
  "extends": "standard",
  "rules": {
    "no-shadow": "error",
    "prefer-promise-reject-errors": 0,
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [ "none", "all", "multiple", "single" ]
      }
    ]
  }
}
